Synergy Logistics

In [93]:
#%%
import pandas as pd

import seaborn as sns 

#%%
sldb = pd.read_csv("synergy_logistics_database.csv")

#%%
exportaciones = sldb[sldb['direction'] == 'Exports']
importaciones = sldb[sldb['direction'] == 'Imports']

Rutas más demandadas y más valiosas

In [116]:
sldb = pd.read_csv('synergy_logistics_database.csv', index_col=0, parse_dates=[5])

rutas = sldb.groupby(by=['direction', 'origin', 'destination', 'transport_mode'])
rutas.sum()
rutas['total_value'].describe().sort_values(by='count', ascending=False)
suma = rutas.sum()['total_value']
rutas = rutas['total_value'].describe()
rutas['suma_total'] = suma
rutas = rutas.reset_index()

exports = rutas[rutas['direction'] == 'Exports']
imports = rutas[rutas['direction'] == 'Imports']

def resultados(df, m):
    total_value = df.suma_total.sum()
    total_usos = df['count'].sum()
    porcentaje = (total_value / total_value_exports)*10000
    porcentaje = int(porcentaje) / 100
    #print(f'Las 10 rutas {m} aportan {porcentaje}%, en un total de: {total_usos} servicios')

mas_demandadas = exports.sort_values(by='count', ascending=False).head(10)
mayor_valor = exports.sort_values(by='suma_total', ascending=False).head(10)

resultados(mas_demandadas, 'mas demandadas')
resultados(mayor_valor, 'con mayor valor')

mayor_valor

,direction,origin,destination,transport_mode,count,mean,std,min,25%,50%,75%,max,suma_total
34,Exports,China,Mexico,Air,330.0,3.712121e+07,2.582412e+07,0.0,19000000.0,35000000.0,52000000.0,140000000.0,12250000000
25,Exports,Canada,Mexico,Rail,261.0,3.237548e+07,2.433130e+07,0.0,11000000.0,31000000.0,49000000.0,103000000.0,8450000000
134,Exports,South Korea,Vietnam,Sea,497.0,1.383704e+07,1.071060e+07,0.0,6000000.0,11000000.0,18000000.0,65000000.0,6877007000
52,Exports,France,United Kingdom,Sea,147.0,3.691837e+07,2.166795e+07,9000000.0,22000000.0,32000000.0,44000000.0,128000000.0,5427000000
131,Exports,South Korea,Japan,Sea,279.0,1.646595e+07,8.336327e+06,2000000.0,10000000.0,15000000.0,20500000.0,45000000.0,4594000000
36,Exports,China,South Korea,Rail,144.0,3.149306e+07,1.720627e+07,1000000.0,20750000.0,31000000.0,41000000.0,81000000.0,4535000000
152,Exports,USA,Mexico,Rail,178.0,2.455056e+07,1.224654e+07,3000000.0,15000000.0,23000000.0,31000000.0,73000000.0,4370000000
42,Exports,France,Belgium,Road,105.0,4.054286e+07,2.420626e+07,8000000.0,24000000.0,34000000.0,50000000.0,148000000.0,4257000000
31,Exports,China,Germany,Air,142.0,2.880282e+07,1.532913e+07,5000000.0,17000000.0,26000000.0,37000000.0,101000000.0,4090000000
39,Exports,China,USA,Air,111.0,3.420721e+07,2.029291e+07,5000000.0,21000000.0,29000000.0,43500000.0,105000000.0,3797000000

Paises con más exportaciones por año

In [114]:
exp_año = exportaciones[['year', 'origin', 'transport_mode', 'total_value']]
df = exp_año.groupby(['year', 'origin', 'transport_mode'])
top_export = df.count()['total_value'].sort_values(ascending=False).head(10)
top_export = top_export.reset_index()
sum_total = top_export['total_value'].sum()
top_export['Porciento'] = (top_export['total_value'] / sum_total) * 100
top_export['Por_acum'] = top_export.cumsum()['Porciento']
top_export

   year          origin transport_mode  total_value  Porciento    Por_acum
0  2017             USA            Sea          350  13.608087   13.608087
1  2017           China            Air          310  12.052877   25.660964
2  2019  United Kingdom            Sea          290  11.275272   36.936236
3  2016             USA            Sea          288  11.197512   48.133748
4  2020     South Korea            Sea          258  10.031104   58.164852
5  2015     South Korea            Sea          235   9.136858   67.301711
6  2020  United Kingdom            Sea          232   9.020218   76.321928
7  2015           China            Air          220   8.553655   84.875583
8  2016           Italy           Rail          201   7.814930   92.690513
9  2019         Germany            Sea          188   7.309487  100.000000

Paises con más importaciones por año

In [115]:
imp_año = importaciones[['year', 'destination', 'transport_mode', 'total_value']]
df2 = imp_año.groupby(['year', 'destination', 'transport_mode'])
top_import = df2.count()['total_value'].sort_values(ascending=False).head(10)
top_import = top_import.reset_index()
sum_total2 = top_import['total_value'].sum()
top_import['Percent'] = (top_import['total_value'] / sum_total2) * 100
top_import['Por_acumu'] = top_import.cumsum()['Percent']
top_import

,year,destination,transport_mode,total_value,Percent,Por_acumu
0,2019,China,Sea,203,13.697706,13.697706
1,2018,Mexico,Sea,159,10.728745,24.426451
2,2015,Thailand,Sea,155,10.458839,34.885290
3,2017,Mexico,Sea,152,10.256410,45.141700
4,2019,United Arab Emirates,Sea,152,10.256410,55.398111
5,2017,Poland,Rail,148,9.986505,65.384615
6,2015,Germany,Road,143,9.649123,75.033738
7,2018,China,Sea,128,8.636977,83.670715
8,2020,Thailand,Sea,125,8.434548,92.105263
9,2016,Japan,Sea,117,7.894737,100.000000

Medios de transporte más utilizados por año

In [117]:
transport_anual = sldb.groupby(by=['year', 'transport_mode'])
conteo_anual = transport_anual['total_value'].describe()['count']
valor_anual = transport_anual['total_value'].agg(pd.Series.sum)

transportes = pd.DataFrame()
transportes['conteo'] = conteo_anual
transportes['valor'] = valor_anual
transportes

                     conteo        valor
year transport_mode
2015 Air              417.0   7023000000
     Rail             542.0   4437488000
     Road             609.0   8231077000
     Sea             1619.0  11306827000
2016 Air              318.0   3459111000
     Rail             507.0   5479198000
     Road             344.0   4710088000
     Sea             2004.0  18500041000
2017 Air              536.0   9065068000
     Rail             660.0   8483234000
     Road             111.0   2042000000
     Sea             1874.0  14838463000
2018 Air              399.0   2457374000
     Rail             749.0  10632394000
     Road             556.0   6502062000
     Sea             1476.0  17542148000
2019 Air              358.0   9037995000
     Rail             341.0   4684366000
     Road             668.0   8732171000
     Sea             1813.0  18486953000
2020 Air              361.0   7219599000
     Rail             582.0   9911363000
     Road             310.0   3053088000
     Sea             1902.0  19856190000

Paises que generan el 80% de importaciones y exportaciones

In [118]:
dftop = sldb.groupby(['year', 'direction', 'origin', 'destination', 'transport_mode'])
top = dftop.count()['total_value'].sort_values(ascending=False).head(15)
top = top.reset_index()
sum_total = top_export['total_value'].sum()
top['Porciento'] = (top['total_value'] / sum_total) * 100
top['Por_acum'] = top.cumsum()['Porciento']
top

,year,direction,origin,destination,transport_mode,total_value,Porciento,Por_acum
0,2015,Exports,Netherlands,Belgium,Road,166,6.454121,6.454121
1,2019,Imports,Germany,China,Sea,161,6.259720,12.713841
2,2020,Exports,Netherlands,Belgium,Road,159,6.181960,18.895801
3,2019,Exports,South Korea,Vietnam,Sea,152,5.909798,24.805599
4,2020,Exports,South Korea,Vietnam,Sea,152,5.909798,30.715397
5,2018,Exports,Japan,Canada,Air,152,5.909798,36.625194
6,2020,Exports,Canada,Mexico,Rail,152,5.909798,42.534992
7,2017,Exports,Mexico,New Zealand,Sea,152,5.909798,48.444790
8,2015,Exports,South Korea,Vietnam,Sea,148,5.754277,54.199067
9,2019,Exports,China,Mexico,Air,146,5.676516,59.875583
10,2020,Exports,China,Rusia,Rail,146,5.676516,65.552100
11,2016,Exports,USA,Belgium,Sea,144,5.598756,71.150855
12,2017,Exports,China,Spain,Air,143,5.559876,76.710731
13,2017,Exports,USA,Netherlands,Sea,142,5.520995,82.231726
14,2017,Exports,South Korea,Japan,Sea,139,5.404355,87.636081

Productos más vendidos

In [119]:
paises = exportaciones.groupby('origin').sum()
products_paises = exportaciones.groupby('origin')['product'].agg(pd.Series.mode)

paises['productos'] = products_paises
paises['porcentaje'] = (paises['total_value'] / paises['total_value'].sum()) * 100
paises['por_acum'] = paises.cumsum()['porcentaje']
paises.reset_index(inplace=True)
paises

,origin,register_id,year,total_value,productos,porcentaje,por_acum
0,Australia,8323635,1741175,1650000000,Coal Briquettes,1.030199,1.030199
1,Austria,6230746,882281,1155000,Cars,0.000721,1.030920
2,Belgium,1683018,490399,2588000000,Dairy,1.615851,2.646771
3,Brazil,4068702,798422,2274000000,Raw sugar,1.419801,4.066571
4,Canada,3921309,1216314,10684000000,Gold,6.670692,10.737263
5,China,9395944,3343248,32977046000,Computers,20.589640,31.326903
6,France,8439498,1854137,18614332000,Cosmetics,11.622096,42.948999
7,Germany,13054382,2612813,11343233000,Cars,7.082292,50.031291
8,India,4308125,1139441,2626000000,Rice,1.639577,51.670868
9,Italy,4827699,1133092,5366684000,Clothing,3.350758,55.021625
10,Japan,8342837,2535907,11948976000,Cars,7.460496,62.482121
11,Mexico,8574990,1557323,1419755000,Cars,0.886442,63.368563
12,Netherlands,5864465,1605885,4120369000,Meat,2.572605,65.941168
13,Russia,1826527,1545745,13223000000,Crude Petroleum,8.255949,74.197117
14,Singapore,3856644,532152,684000,Gas turbines,0.000427,74.197544
15,South Korea,6218469,2287853,14621146000,Integrated circuits,9.128899,83.326443
16,Spain,2122525,595534,3418000000,Cars,2.134072,85.460515
17,Switzerland,2638653,502589,2154000000,Gold,1.344877,86.805393
18,USA,7596698,2953071,18355306000,Aerospace Parts,11.460370,98.265762
19,United Kingdom,7416070,1758189,2777612000,Cars,1.734238,100.000000

Productos más exportados de acuerdo al medio de transporte

In [120]:
med_prod_pais = exportaciones.groupby(['product', 'transport_mode'])['origin'].agg(pd.Series.mode)
med_prod = exportaciones.groupby(['product', 'transport_mode']).sum()
med_prod['pais'] = med_prod_pais
med_prod.count()
med_prod.reset_index(inplace=True)
med_prod

,product,transport_mode,register_id,year,total_value,pais
0,Aerospace Parts,Rail,254369,359172,4370000000,USA
1,Aerospace Parts,Road,22760,32288,340000000,USA
2,Aerospace Parts,Sea,6750996,1863755,6363306000,USA
3,Cars,Air,1393,28210,299000000,Japan
4,Cars,Rail,7256562,1229308,2741844000,Austria
5,Cars,Road,1645100,320745,1309071000,Germany
6,Cars,Sea,22830005,5400019,15494335000,United Kingdom
7,Cereals,Road,637947,522787,4492000000,Russia
8,Clothing,Rail,970240,179461,474152000,Italy
9,Clothing,Road,398247,76598,235060000,Italy
10,Clothing,Sea,1195321,173432,165000,Italy
11,Coal Briquettes,Sea,8323635,1741175,1650000000,Australia
12,Computers,Air,3618164,1281211,14974000000,China
13,Computers,Rail,10718,46412,735000000,China
14,Computers,Sea,833815,135273,400000000,China
15,Cosmetics,Road,1548785,330959,3174056000,France
16,Cosmetics,Sea,2954822,611396,5277129000,France
17,Crude Petroleum,Rail,400608,342953,2793000000,Russia
18,Crude Petroleum,Sea,787972,680005,5938000000,Russia
19,Dairy,Road,1683018,490399,2588000000,Belgium
20,Diamonds,Sea,728512,193583,479000000,India
21,Gas turbines,Sea,4071091,588627,137684000,Singapore
22,Gold,Rail,1821952,472278,4662000000,Canada
23,Gold,Road,1866341,355241,1504000000,Switzerland
24,Gold,Sea,1414323,431430,1534000000,Canada
25,Industrial machines,Rail,123434,145264,1408000000,USA
26,Industrial machines,Road,209883,221650,2000000000,USA
27,Industrial machines,Sea,235256,330942,3874000000,USA
28,Integrated circuits,Sea,5138073,1771213,10324146000,South Korea
29,Machinery and electronics,Air,4723750,1127761,3899662000,Japan
30,Machinery and electronics,Rail,199937,68578,1313000000,Germany
31,Machinery and electronics,Road,1632928,282462,1593143000,Germany
32,Machinery and electronics,Sea,217838,80682,610038000,Germany
33,Meat,Rail,1335741,322626,143124000,Netherlands
34,Meat,Road,3458585,1127961,3969122000,Netherlands
35,Meat,Sea,1070139,155298,8123000,Netherlands
36,Optical readers,Air,754042,429380,3660000000,China
37,Pharmaceuticals,Air,2949162,631660,3261485000,Germany
38,Pharmaceuticals,Rail,3097420,530465,1701270000,France
39,Pharmaceuticals,Road,1368708,371132,5330034000,France
40,Pharmaceuticals,Sea,1162207,290426,3552084000,France
41,Raw sugar,Rail,373494,72600,208000000,Brazil
42,Raw sugar,Road,468102,92715,257000000,Brazil
43,Raw sugar,Sea,3227106,633107,1809000000,Brazil
44,Refined Petroleum,Rail,1386901,368984,761000000,India
45,Refined Petroleum,Sea,147744,38342,111000000,India
46,Rice,Sea,1830521,482057,1138000000,India
47,Smartphones,Air,734533,627385,6691000000,China
48,Smartphones,Rail,2858536,656038,4789046000,China
49,Smartphones,Road,563355,90855,255000000,China
50,Smartphones,Sea,22781,76694,1473000000,China
51,Tires,Sea,1080396,516640,4297000000,South Korea
52,Vegetables,Rail,217920,40345,30541000,Mexico
53,Vegetables,Sea,4066955,732277,356612000,Mexico
54,Vehicle parts,Rail,529047,342735,3297066000,Italy
55,Vehicle parts,Road,10165,20150,234000000,Italy
56,Vehicle parts,Sea,32235,60475,706000000,Italy
57,Wood,Rail,1367053,431744,5078000000,Canada
58,Wood,Sea,90293,28210,60000000,Canada

Productos más importados de acuerdo al medio de transporte

In [121]:
med_prod_pais = importaciones.groupby(['product', 'transport_mode'])['origin'].agg(pd.Series.mode)
med_prod = importaciones.groupby(['product', 'transport_mode']).sum()
med_prod['pais'] = med_prod_pais
med_prod.count()
med_prod.reset_index(inplace=True)
med_prod

,product,transport_mode,register_id,year,total_value,pais
0,Cars,Rail,6094080,707920,4596000000,Mexico
1,Cars,Road,1943545,231972,1934000000,Spain
2,Cars,Sea,15219419,1787459,12295000000,Japan
3,Computers,Sea,4171713,522950,7848000000,China
4,Fish flour,Sea,1787437,201811,590000000,Mexico
5,Gas turbines,Sea,1232905,145276,1516000000,China
6,Integrated circuits,Sea,4844672,550813,4017000000,Singapore
7,Machinery and electronics,Air,3671210,423722,3237000000,China
8,Machinery and electronics,Rail,910964,110900,1045000000,China
9,Machinery and electronics,Road,4943688,578636,3487000000,China
10,Machinery and electronics,Sea,1256950,147266,1432000000,Mexico
11,Meat,Sea,3912019,433861,1333000000,Brazil
12,Palm oil,Rail,3312496,393280,3482000000,Malaysia
13,Pharmaceuticals,Air,978894,126954,1618000000,USA
14,Pharmaceuticals,Sea,2682659,317068,3018000000,USA
15,Smartphones,Air,1254938,143376,622000000,USA
16,Vegetables,Sea,3791623,441700,2889000000,Mexico
17,Wood,Road,854948,94876,569000000,Canada